/* Основная политра
Основной цвет текста-#757575 
Цвет заголовков-#212121
Цвет подписи-#FFFFFF
*/
:root {
  --main-text-color: #757575;
  --header-color: #212121;
  --signature-color: #ffffff;
  --animation-color: #2196f3;
  --main-bg-color-button: #f5f4fa;
}
/* Общие стили */
body {
  margin: 0px;
  padding: 0px;
  background: var(--signature-color);
  color: var(--main-text-color);
}
/* логотип вначале сьраницы */
.main-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: black;
}
/* часть логотипа "Web" */
span {
  color: var(--animation-color);
  font-family: 'Raleway', sans-serif;
}
/* все ссылки */
a {
  text-decoration: none;
  color: var(--header-color);
}
/* все списки */
ul {
  list-style-type: none;
}
/* стили для агаловков */
.heading {
  color: var(--header-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*  */

.main-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.small-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--header-color);
}

/* Логотип в конце страницы */
.footer-logo {
  color: var(--signature-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
/* основная навигация */
.site-nav .link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: var(--header-color);
  text-transform: uppercase;
}
/* основная навигация при наведении */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--animation-color);
}

.site-nav .link.current {
  color: var(--animation-color);
}

/*  навигация по контактам */
.contacts-nav .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* навигация по контактам при наведении */
.contacts-nav .link:hover,
.contacts-nav .link:hover:focus {
  color: var(--animation-color);
}
/* "кнопки" */

.button {
  color: var(--signature-color);
  background: var(--animation-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

/* подвал сайта */

.footer {
  background: #2f303a;
}
/* обращения */
.join {
  color: var(--signature-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--signature-color);
}

.contact-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Стили к index.html */

/* главный заголовок сайта */
.hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 42px;
  color: var(--signature-color);
  background: gray;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* абзацы в разделе что мы делаем */
.what-doing-words {
  color: var(--signature-color);
  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: 0.03em;
}

.job {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
}

/* Стили к portfolio.html */

/* Цвет заливки - rgba(33, 150, 243, 0.9);
   Цвет анимации - --animation-color: #2196f3;
   Начальный цвет кнопки - #f5f4fa */

/* кнопки */
.button-portfolio {
  background: var(--main-bg-color-button);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
}
/* кнопки при наведении */

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--signature-color);
  background: var(--animation-color);
}

/* абзацы */
.paragraph {
  background: rgba(33, 150, 243, 0.9);
  color: var(--signature-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: 0.03em;
}

.heading-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;

  letter-spacing: 0.06em;
}

.main-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
